*.vcproj
*.ncb
*.sln
*.suo
*.user
*.idb
*.pdb
ui_*.h
debug/*
release/*
Makefile*
qtwitdget.pro.user.1.3
*.sdf
*.vcxproj
*.vcxproj.filters
qtwitdget.pro.user.2.2pre1
lib/*.lib
lib/*.ilk
lib/*.exp
lib/*.dll
lib/tmp/*
ipch/*
qtwitdget.pro.user.*
*.opensdf
*.exe